{% load staticfiles %}

<!DOCTYPE html>

<html>
<head>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/recorder.js' %}"></script>
    <script src="{% static 'js/upload.js' %}"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Live input record and playback</title>
  <style type='text/css'>
    ul { list-style: none; }
    recordingslist audio {}
  </style>
</head>
<body>
  <p>感謝幫忙錄製以下台語內容</p>
  <p>可以挑會唸的錄製即可</p>
  <p>提供音檔上傳麻煩請使用"錄1秒自動停止"</p>
  <p>您的暱稱為 {{ rlt }}</p>
  <pre>
     中文   台語          中文   台語          中文   台語
  1. 一     一        11. 後退   退後      21. 樹     樹
  2. 二     二        12. 前進   進前      22. 鳥     鳥
  3. 三     三        13. 上     起去      23. 貓     貓
  4. 四     四        14. 下     落來      24. 狗     狗
  5. 五     五        15. 左     倒邊      25. 志明   志明
  6. 六     六        16. 右     正邊      26. 春嬌   春嬌
  7. 七     七        17. 床     眠床      27. 可以   會使
  8. 八     八        18. 去     去        28. 不可   袂使
  9. 九     九        19. 快樂   快樂      29. 開     開
  10.零     零        20. 房屋   厝        30. 關     關
  </pre>

  <script>


  </script>
  <div>正在錄製的字:</div>
  <p id="wordlist">一</p>
  <button onclick="preword(this);" id="preword">錄上一個</button>
  <button onclick="nextword(this);" id="nextword">錄下一個</button>
  <button onclick="startRecording(this);" id="startRecording">錄音</button>
  <button onclick="stopRecording(this);" id="stopRecording" disabled>停止</button>
  <button onclick="startRecording_autostop(this);" id="startRecording_autostop">錄1秒自動停止</button>

  <div id=div1 style="display:none">
      錄音中...
  </div>
  
  <p>您的錄音，有可能的結果 <div id="recogResult"><b>開始錄音之後會在這為您顯示有可能的辨識結果</b></div></p>  
  
  <h2>錄音</h2>
  <ul id="recordingslist"></ul>
  
  <h2>紀錄</h2>
  <pre id="log"></pre>

  <script>
  function __log(e, data) {
    log.innerHTML += "\n" + e + " " + (data || '');
  }

  var audio_context;
  var recorder;
  var words = ['一','二','三','四','五','六','七','八','九','零','後退','前進','上','下','左','右','床','去','快樂','房屋','樹','鳥','貓','狗','志明','春嬌','可以','不可','開','關'];
  var words_th = 0;
  var result="";
  
  //////////////DDD//////////////
  function uploadAudioFromBlob_recog(blob) {
    var csrftoken = getCookie('csrftoken');

    var xhr = new XMLHttpRequest();
    xhr.open('POST', 'uploadRecog_server', true);
    xhr.setRequestHeader("X-CSRFToken", csrftoken);
    xhr.setRequestHeader("MyCustomHeader", "Put anything you need in here, like an ID");

    xhr.upload.onloadend = function () {
       // alert(result);
        //alert('錄音成功');

    };

    xhr.send(blob);
    }
  

    
  //////////////DDD//////////////

  function startUserMedia(stream) {
    var input = audio_context.createMediaStreamSource(stream);
    __log('媒體流已創建');

    // Uncomment if you want the audio to feedback directly
    //input.connect(audio_context.destination);
    //__log('Input connected to audio context destination.');
    
    recorder = new Recorder(input);
    __log('錄音機初始化');
  }

  function startRecording_autostop(button) {
    recorder && recorder.record();
    div1.style.display='';
    button.disabled = true;
    document.getElementById("preword").disabled = true;
    document.getElementById("nextword").disabled = true;
    document.getElementById("startRecording").disabled = true;
    __log('錄音中...');
    //1秒自動停止
    setTimeout("autostopRecording()",1000);
  }

  function startRecording(button) {
    recorder && recorder.record();
    div1.style.display='';
    button.disabled = true;
    document.getElementById("preword").disabled = true;
    document.getElementById("nextword").disabled = true;
    document.getElementById("stopRecording").disabled = false;
    document.getElementById("startRecording_autostop").disabled = true;
    __log('錄音中...');
  }

  function autostopRecording() {
      recorder && recorder.stop();
      div1.style.display='none';
      document.getElementById("preword").disabled = false;
      document.getElementById("nextword").disabled = false;
      document.getElementById("startRecording").disabled = false;
      document.getElementById("startRecording_autostop").disabled = false;
      __log('停止錄音');
      createDownloadLink();
      recorder.clear();
  }

  function stopRecording(button) {
    recorder && recorder.stop();
    div1.style.display='none';
    button.disabled = true;
    document.getElementById("preword").disabled = false;
    document.getElementById("nextword").disabled = false;
    document.getElementById("startRecording").disabled = false;
    document.getElementById("startRecording_autostop").disabled = false;
    __log('停止錄音');
    
    // create WAV download link using audio data blob
    createDownloadLink();
    
    recorder.clear();
  }

  function preword() {
    var this_word = document.createElement("div");
    wordlist.removeChild(wordlist.childNodes[0]);
    if(words_th === 0)
        words_th = words.length - 1;
    else
        words_th = words_th - 1;
    this_word.innerHTML = words[words_th];
    wordlist.appendChild(this_word);
  }

  function nextword() {
    var this_word = document.createElement("div");
    wordlist.removeChild(wordlist.childNodes[0]);
    if(words_th === words.length - 1)
        words_th = 0;
    else
        words_th = words_th + 1;
    this_word.innerHTML = words[words_th];
    wordlist.appendChild(this_word);
  }

  function createDownloadLink() {
    recorder && recorder.exportWAV(function(blob) {
      var url = URL.createObjectURL(blob);
      var li = document.createElement('li');
      var au = document.createElement('audio');
      var hf = document.createElement('a');
      var download = document.createElement("button");
      var remove = document.createElement("button");
      var upload = document.createElement("button");
      var div = document.createElement("div");
      var word = document.createElement("div");
      var thisword = document.createElement("div");
      var theFirstChild = recordingslist.firstChild;

      //name of .wav file to use during upload and download (without extendion)
      var filename = new Date().toISOString();
      var recog=document.createElement("li");

      $.ajax({
      url: 'recogResult',
      type: 'GET',
      error: function(xhr) {
        alert('Ajax request 發生錯誤');
      },
      success: function(response) {
          var recogResult=response;
          var wait="正在辨識中..."
          $('#recogResult').text(wait);
          setTimeout(3000)
          $('#recogResult').load('recogResult');
          
 
      }
    });

      au.controls = true;
      au.src = url;
      hf.href = url;
      hf.download = filename + '.wav';
      hf.id = 'dl';
      hf.innerHTML = hf.download;
      download.innerHTML = "下載"
      download.onclick = function(){
          li.appendChild(hf)
          hf.click()
          li.removeChild(hf)
      };
      remove.innerHTML = "刪除";
      remove.onclick = function(){
          recordingslist.removeChild(li)
      };
      word.innerHTML = "錄音內容: " + words[words_th];
      thisword.innerHTML = words[words_th];
      li.appendChild(word);
      li.appendChild(au);
      li.appendChild(download);
      li.appendChild(remove);
      div.innerHTML = "上傳成功";
      upload.innerHTML = "上傳";
      upload.onclick = function(){
          uploadword(thisword.innerHTML);
          uploadAudioFromBlob(blob);
          li.appendChild(div)
      };
      li.appendChild(upload);

      recordingslist.insertBefore(li,theFirstChild);
    });
  }

  window.onload = function init() {
    try {
      // webkit shim
      window.AudioContext = window.AudioContext || window.webkitAudioContext;
      navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia|| navigator.mozGetUserMedia || navigator.msGetUserMedia;
      window.URL = window.URL || window.webkitURL;

      audio_context = new AudioContext;
      __log('音頻文本設置');
      __log('navigator.getUserMedia ' + (navigator.getUserMedia ? '啟動' : '未啟動'));
    } catch (e) {
      alert('瀏覽器沒有音頻支援');
    }

    navigator.getUserMedia({audio: true}, startUserMedia, function(e) {
      __log('No live audio input: ' + e);
    });
  };
  </script>


</body>
</html>
